<h1 class="chip">Hello!</h1>
The only thing this app is doing is this:<br>
<p class="bar bar-positive">{{title}}</p>
<br>
<br>
<strong>In order to update your app:</strong>
<ion-list>
	<li>Make changes needed in HTML/CSS/JS</li>
	<li><i>(optionally)</i> add new or remove unneeded files to/from manifest.json</li>
	<li>Run <b>node bin\update-manifest.js www www\manifest.json</b> to automatically update manifest</li>
	<li>Upload changes (www folder) to the server</li>
	<li>You're done. Now - don't forget to enjoy while re-starting app on the client :)</li>
</ion-list>